body {
    background-color: #355b94;
    font-family: Verdana;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    color: #1A1A1A;
}

#map {
    height: 600px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 3px solid #002855;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 40, 85, 0.3);
}

h1,
h2 {
    text-align: center;
    padding: 1rem;
    color: #FDB927;
    /* granatowy jak FBI */
}


#statics-panel {
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#show-all-states {
    display: block;
    border: none;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 2rem;
    background-color: #002855;
    /* FBI granat */
    font-weight: bold;
    color: #FDB927;
    /* FBI złoty */
    border-radius: 10px;
    margin-bottom: 2rem;
    transition: background-color 0.3s ease;
}

#show-all-states:hover {
    cursor: pointer;
    background-color: #001f3f;
}

.info.legend {
    background: white;
    padding: 12px 14px;
    font-size: 14px;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    max-width: 200px;
}

.info.legend h4 {
    margin: 0 0 4px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.legend-subtitle {
    font-size: 13px;
    margin-bottom: 10px;
    color: #666;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.legend-color {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    border: 1px solid #999;
    border-radius: 3px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-bottom: 3px solid #FDB927;
    margin-bottom: 10px;
}

.fbi-logo {
    height: 100px;
}


.project-footer {
  background-color: #FDB927;
  color: white;
  text-align: center;
  padding: 20px 10px;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 0;
  border-top: 4px solid #ffffff;
}

.project-footer ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
}

.project-footer li {
  margin: 5px 0;
}